@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --maroon: #800000;
}

.bg-maroon {
  background-color: var(--maroon);
}

.text-maroon {
  color: var(--maroon);
}

.hover\:bg-maroon-dark:hover {
  background-color: #5a0000;
}
